@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
.project_styling {
  box-shadow: 5px 5px 2px #000000;
  border-radius: 10px;
  margin: 10px;
  border-radius: 5%;
}
.project_styline:hover {
  box-shadow: 5px 5px 2px #000000;
  border-radius: 10px;
  margin: 10px;
  border-radius: 5%;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.body_sty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;

  text-shadow: 0.2px 0.2px 0.2px #000000;

  border-radius: 10px;
  box-shadow: 5px 5px 2px #000000;
}
.header_style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0.2px 0.2px 0.2px #000000;
  box-shadow: 5px 5px 2px #000000;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .header_style {
    font-size: 1.2rem;
  }
  .body_text_style {
    font-size: 1rem;
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.sourcecodebutton {
  display: flex;
  justify-content: center;
}
.sourcecodebutton:hover {
  transform: scale(1.05) rotate(360deg);
}
.new {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  font-size: 0.5rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.5px 0.3px 0.5px #837a7a;
  font-style: oblique;
  box-shadow: 0.5px 0.5px 1px #000000;
  border-radius: 20%;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 40px;
  height: 20px;
  padding: 5px;
  border: 3px;
  position: absolute;
  top: 9.3%;
  right: 43.8%;
}
.demo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  font-size: 0.5rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.5px 0.3px 0.5px #837a7a;
  font-style: oblique;
  box-shadow: 0.5px 0.5px 1px #000000;
  border-radius: 10%;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 80px;
  height: 20px;
  padding: 5px;
  border: 3px;
}

.source-code-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  font-size: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 0.5px 0.3px 0.5px #837a7a;
  font-style: oblique;
  box-shadow: 0.5px 0.5px 1px #000000;
  border-radius: 10%;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 80px;
  height: 20px;
  padding: 5px;
  border: 3px;
}
.horz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
