.navbar_style {
  position: relative; /* set initial position to relative */
  transition: all 0.3s ease; /* add transition effect */
}

.navbar_style.fixed {
  position: fixed; /* set position to fixed when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
